.box {
  display: flex;
  justify-content: center;
  margin: 0 0 99px;
  &__wrapper {
    display: flex;
  }
  &__description {
    padding: 0;
    margin: 0;
    color: $textColor;
    font-size: 72px;
    line-height: 74px;
    font-weight: 900;
    font-family: Montserrat, Helvetica, sans-serif;
    display: inline-block;
    max-width: 740px;
    &_type {
      &_accent {
        color: $accentTextColor;
      }
    }
  }
  &__subdescription {
    padding: 0;
    margin: 0;
    color: $textColor;
    font-size: 18px;
    line-height: 33px;
    font-weight: 400;
    font-family: Montserrat, Helvetica, sans-serif;
    max-width: 458px;
  }
  &__image {
    max-width: 423px;
    width: 100%;
    object-fit: cover;
  }
}