.section {
  padding: 0 80px;
  align-items: center;
  &__container {
    max-width: 1122px;
  }
  &__text-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
  }
  &__description {
    max-width: 546px;
    display: block;
    color: $textColor;
  }
}